<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo-pinterest.svg">
    <title>Pinterest Clone</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <% if(nav===true) { %>
        <div class="w-full px-10 py-3 flex justify-between items-center bg-zinc-800 text-white">
            <a class="text-3xl font-bold cursor-pointer" href="/">Pinterest</a>
            <div class="flex gap-10 items-center">
                <a class="hover:underline" href="/profile">Profile</a>
                <a class="hover:underline" href="/feed">Feed</a>
                <a class="px-3 py-2 bg-red-700 text-white rounded-lg" href="/">Logout</a>
            </div>
        </div>
    <% } %>